{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block operator %}
{% endblock %}

{% block input %}
    <div class="form-floating">
        <select class="form-control" name="{{ id }}_value" id="input_{{ id }}">
            <option value="all">{{ 'filter.boolean.all' | trans({}, 'LleCruditBundle') }}</option>
            <option value="true">{{ 'filter.boolean.yes' | trans({}, 'LleCruditBundle') }}</option>
            <option value="false">{{ 'filter.boolean.no' | trans({}, 'LleCruditBundle') }}</option>
        </select>
        <label for="input_{{ id }}">
            {{ filter.filterLabel|trans({}, 'LleCruditBundle') }}
        </label>
    </div>
{% endblock %}

